{% extends 'base.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}
 {% block bread %}Post {% endblock %}

{% block body %}
<div class=" container w-full md:w-2/3  mx-auto">
  <div class="flex flex-row items-center mb-4">
    {{ include('shared/_avatar.html.twig', {'size': 32, profile:app.user.userProfile}) }}

     <div class="ml-4  lg:ml-6">
    <div class="text-xl">
      {{ post.author.userProfile.name ?? post.author.email }}
    </div>
    <div>
       <a href=" {{ path('app_profile', {id: post.author.id}) }}">{{ post.author.email }}</a>
    </div>
  </div>
</div>
    
  </div>
 
<div class="container w-full md:w-2/3  mx-auto mt-8 lg:mt-16 rounded-md shadow-md shadow-cyan-500/50  text-left md:text-center ">
   {{ include ('micro_post/_post.html.twig', {post: post}) }}
 </div> 

<div class="container w-full md:w-2/3  mx-auto mt-8 lg:mt-16 rounded-md shadow-md shadow-cyan-500/50  text-left md:text-center ">
  {% for comment in post.comments %}
    
       <div class="flex items-center">
         <div class="mx-2">
           {{ include('shared/_avatar.html.twig', {'size': 8, profile:app.user.userProfile}) }}
         </div>
         <div>
            <div class="font-medium text-gray-800 dark:text-gray-300">
              <a href=" {{ path('app_profile', {id: comment.author.id}) }}">{{ comment.author.email }}</a>
            </div>
            <div class="font-light text-gray-500 dark:text-gray-600">{{ comment.created | date("M j, Y") }}</div>
         </div>
       </div>
       <div class="flex">
          <div class="border ml-6 mr-4 pb-12 lg:pb-16 {% if loop.last %} border-transparent  {% else %}  border-gray-300 dark:border-gray-600{%  endif %}"></div>
          <div>{{ comment.text }}</div>
       </div>
    
  {% endfor %}
</div>


    
    
{% endblock %}
