{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block bread %}Register
{% endblock %}

{% block body %}
	<div>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="pb-2 text-red-700 dark:text-red-400/80" role="alert">{{ flash_error }}</div>
		{% endfor %}


		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="text-xl w-full md:w-2/3 mx-auto">
			Basic information
		</div>

		<div class="w-full md:w-2/3 mx-auto font-sm text-gray-500 dark:text-gray-300 mb-4 pb-2 border-b border-gray-500">
			Enter your credentials
		</div>

		<div>
			{{ form_label (registrationForm.email, 'Username (Email) : ', {'label_attr': {'class': 'block text-sm text-grey-800 dark:text-grey-200 font-medium w-full md:w-2/3 mx-auto mb-2'} }) }}
			{{ form_widget(registrationForm.email, { 'attr': {'class': 'block w-full md:w-2/3 mx-auto border border-gray-300 dark:border-gray-700 dark:text-gray-800 rounded-md px-2 mb-4'} }) }}

			{{ form_errors(registrationForm.email, { 'attr': {'class': 'block w-full md:w-2/3 mx-auto border border-gray-300 dark:border-gray-700 dark:text-gray-800 rounded-md px-2 mb-4'}}) }}
		</div>


		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full md:w-2/3 mx-auto ">
			<div>
				{{ form_label (registrationForm.plainPassword.first, 'Enter Password : ', {'label_attr': {'class': 'block text-sm text-grey-800 dark:text-grey-200 font-medium mb-2'} }) }}
				{{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'block w-full mx-auto border border-gray-300 dark:border-gray-700 dark:text-gray-800 rounded-md px-2 mb-4'} }) }}

				{{ form_errors(registrationForm.plainPassword.first) }}
			</div>

			<div>
				{{ form_label (registrationForm.plainPassword.second, 'Repeate Password : ', {'label_attr': {'class': 'block text-sm text-grey-800 dark:text-grey-200 font-medium  mb-2'} }) }}
				{{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'block w-full mx-auto border border-gray-300 dark:border-gray-700 dark:text-gray-800 rounded-md px-2 mb-4'} }) }}

				{{ form_errors(registrationForm.plainPassword.second) }}
			</div>
		</div>


		<div class="block  w-full md:w-2/3 mx-auto text-center my-4">

			{{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'inline-block  h-4 w-4 rounded border border-cyan-700'  } } )
           }}
			{{ form_label(registrationForm.agreeTerms, 'Agree to Terms', { 'label_attr': {'class': 'text-sm text-cyan-700 dark:text-cyan-300 font-medium ml-2' }}) }}
		</div>

		<div class="w-full md:w-2/3 mx-auto border-b border-gray-500"></div>

		<div class="text-xl w-full md:w-2/3 mx-auto mt-3">
			Your Profile
		</div>

		<div class="w-full md:w-2/3 mx-auto font-sm text-gray-500 dark:text-gray-300 mb-4 pb-2 border-b-2 border-cyan-600/90">
			Enter more (optional) details. You can also do it later.
		</div>

		<div class="w-full md:w-2/3 mx-auto border-b border-gray-500">
			{{ include('/setting_profile/_profile_form.html.twig', { form: registrationForm.userProfile }) }}
		</div>

		<div>
			<button type="submit" class="block w-full md:w-2/3 mx-auto mt-3 md:mt-4 bg-cyan-500 text-white text-lg border border-transparent rounded-md    hover:scale-125    hover:bg-cyan-600 dark:hover:bg-cyan-300">Register
			</button>
		</div>
		{{ form_end(registrationForm) }}

		<div class="mt-4 text-center text-gray-600 dark:text-gray-400">
			Already have an account?
			<a href=" {{ path('app_login') }}" class="text-cyan-700/80 dark:text-cyan-300 font-medium">Login here</a>
		</div>
	</div>
{% endblock %}
