<!DOCTYPE html>
<html id="html" class="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
       
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
           tailwind.config = {
            darkMode: 'class'
           }

        </script>
       
    </head>
    <body class="bg-gray-200 text-gray-800 m-10 dark:bg-gray-700 dark:text-gray-100">
    <div class="w-full relative text-sm">
      <button class="absolute right-2 text-white bg-gray-400 dark:bg-gray-700 rounded-md px-2 mt-2 lg:nt-3 hover:scale-x-105 transition ease-in-out" id="darkMode" onclick="toggleDarkAndLightMode()">Dark/Light Mode</button>
    </div>
    <div class="w-full bg-gray-300 h-24 lg:h-32 object-cover rounded-md flex items-center" style="background-image: url({{ asset ('assets/hero_2.jpg') }});background-size: cover;">
       <div class="w-full mx-1 lg:mx-3 mb-4 flex justify-between items-center">
           <div class="text-4xl">
              <a href="{{ path('app_micro_post') }}" class="text-white hover:text-5xl">Home<span> / </span></a>
              <div class="inline text-3xl text-violet-400">
              {% block bread %}

              {% endblock %}
              </div>
           </div>
         
         
           <div class=" flex text-end">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
               <div class="text-xl hover:text-2xl">
                 <a href="{{ path('app_micro_post_add') }}">Add Post </a>
              </div>
              <div class="text-xl ml-4 hover:text-2xl">
                 <a href="{{ path('app_setting_profile') }}">Profile settings</a>
              </div>
              <div class="text-xl text-end font-bold text-cyan-500/90 dark:text-cyan-300/90 ml-3 lg:ml-6 hover:text-2xl">
                 <a href="{{ path('app_logout') }}">Logout</a>
              </div>
            {% else %}
              <div class="text-xl ml-3 text-end font-bold text-cyan-500/90 dark:text-cyan-300/90 hover:text-3xl">
                 <a href="{{ path('app_login') }}">Login</a>
              </div>
              <div class="text-xl ml-4 text-end font-bold text-cyan-500/90 dark:text-cyan-300/90 hover:text-2xl">
                 <a href="{{ path('app_register') }}">Register</a>
              </div>
             {% endif %}
             
           </div>
        </div>
      </div>

        <div class="w-full md:w-2/3 mx-auto ">
            {% for label, messages in app.flashes('success') %}
              {% for message in messages %}
               <div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">{{ message }}</div>
               {% endfor %}
           {% endfor %}
        </div>
          

           {% block body %}
            {% endblock %}
       {% block footer %}
       <div class=" block w-full bg-gray-300 h-16 mt-6 lg:mt-10 rounded-md ">
         <div class=" flex flex-col items-center content-evenly w-full h-full rounded-md"  style="background-image: url({{ asset ('assets/svg-image.svg') }});">
             <a class="text-white mt-2" href="#">© 2020 Copyright:</a> 
             <a class="text-white" href="#">SocialMediaPost.com  </a>
             
          </div>
       </div>
       {% endblock %}
        <script>
           function toggleDarkAndLightMode() {
                  var element = document.getElementById('html');
                  element.classList.toggle("dark");
                 }
      
        </script>
    </body>
</html>
